In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/mnt/data/datasets/newspapers/guardian/meta/comments.csv')

In [4]:
df.head(1)

,article_id,author_id,comment_id,timestamp,parent_comment_id,upvotes
0,1,1,14606180,2012-02-11T12:49:42Z,NaN,0

In [5]:
out = df[['article_id', 'comment_id', 'author_id']].groupby(['article_id']).nunique()

In [6]:
out

            article_id  comment_id  author_id
article_id
1                    1         115         45
3                    1          97         78
4                    1          21         17
5                    1          41         30
6                    1          59         48
7                    1         126         70
8                    1          10         10
9                    1         119         94
10                   1         316         69
11                   1         129         59
12                   1          20         18
13                   1         287        140
14                   1          12         11
15                   1         104         76
16                   1          87         61
17                   1          14          8
18                   1         129         67
19                   1          80         40
20                   1           8          8
21                   1          56         44
22                   1         121         60
23                   1          96         77
24                   1          24         13
25                   1           1          1
26                   1          30         13
27                   1           4          4
28                   1         105         62
29                   1         145         54
30                   1         145        101
31                   1         554        160
...                ...         ...        ...
626367               1           1          1
626368               1          15         14
626369               1          62         36
626370               1          57         48
626371               1           3          3
626372               1           1          1
626373               1           2          2
626374               1          17         13
626375               1           4          4
626376               1           5          5
626377               1          14         13
626378               1           2          2
626379               1           4          3
626380               1          23         15
626381               1           3          3
626382               1          10          9
626383               1           2          2
626384               1          13          7
626385               1          10          6
626386               1           9          8
626387               1           2          2
626388               1          16          8
626389               1           5          3
626390               1          62         21
626391               1          33         25
626392               1           1          1
626393               1          13         10
626394               1          17         15
626395               1           9          7
626396               1          63         28

[625690 rows x 3 columns]

In [7]:
out = out.rename({'author_id': 'user_count_per_thread', 'comment_id': 'comments_count_per_thread'}, axis='columns')

In [8]:
out.to_csv('../data/threads/guardian.csv')

In [ ]:
out