In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/mnt/data/datasets/ydata-ynacc-v1_0/ydata-ynacc-v1_0_unlabeled_conversations.tsv',  sep='\t', header=0, lineterminator='\n')

In [3]:
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')

In [6]:
df.index = df['timestamp']

In [9]:
out = df.resample('D')['commentid', 'guid'].count().reset_index()

In [10]:
out

     timestamp  commentid   guid
0   2014-08-29          2      2
1   2014-08-30          0      0
2   2014-08-31          0      0
3   2014-09-01          0      0
4   2014-09-02          0      0
5   2014-09-03          0      0
6   2014-09-04          0      0
7   2014-09-05          0      0
8   2014-09-06          0      0
9   2014-09-07          0      0
10  2014-09-08          0      0
11  2014-09-09          0      0
12  2014-09-10          0      0
13  2014-09-11          0      0
14  2014-09-12          0      0
15  2014-09-13          0      0
16  2014-09-14          0      0
17  2014-09-15          0      0
18  2014-09-16          2      2
19  2014-09-17          0      0
20  2014-09-18          0      0
21  2014-09-19          0      0
22  2014-09-20          0      0
23  2014-09-21          0      0
24  2014-09-22          1      1
25  2014-09-23          0      0
26  2014-09-24          0      0
27  2014-09-25          1      1
28  2014-09-26          0      0
29  2014-09-27          0      0
..         ...        ...    ...
587 2016-04-07       5212   5212
588 2016-04-08       7666   7666
589 2016-04-09       5253   5253
590 2016-04-10       3933   3933
591 2016-04-11       7232   7232
592 2016-04-12       5343   5343
593 2016-04-13       8016   8016
594 2016-04-14       5419   5419
595 2016-04-15       6871   6871
596 2016-04-16       6792   6792
597 2016-04-17       6960   6960
598 2016-04-18       7214   7214
599 2016-04-19       7675   7675
600 2016-04-20       6911   6911
601 2016-04-21       5903   5903
602 2016-04-22       5493   5493
603 2016-04-23       7462   7462
604 2016-04-24       6891   6891
605 2016-04-25       7207   7207
606 2016-04-26       7501   7501
607 2016-04-27       8362   8362
608 2016-04-28       6350   6350
609 2016-04-29       6329   6329
610 2016-04-30       4847   4847
611 2016-05-01       4250   4250
612 2016-05-02       8814   8814
613 2016-05-03       6952   6952
614 2016-05-04      12356  12356
615 2016-05-05       4745   4745
616 2016-05-06         40     40

[617 rows x 3 columns]